<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <EnableADPublish>false</EnableADPublish>
    <ADDirectoryAccessLevel>0</ADDirectoryAccessLevel>
    <ADDomain>iotdevices.onmicrosoft.com</ADDomain>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mtcsastokenapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mtcsastokenapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MTCSASTokenAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MTCSASTokenAPI</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADAppIDUri>https://iotdevices.onmicrosoft.com/WebApp-mtcsastokenapi.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADWebAPIBased>true</ADWebAPIBased>
    <ADClientAPPID>43472882-9979-4299-870d-e9a9b53f96eb</ADClientAPPID>
    <ADClientPassword>BRAJ8qcjV1HYl7zZmx72UBT6W34CXcRzi0wpakJXwyc=</ADClientPassword>
    <ADReplyUrl>https://mtcsastokenapi.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>7bbbcc35-005a-4f2e-9f82-a1799f2644e8</ADTenantId>
    <ADPostLogoutRedirectUri />
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
</Project>