<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ida:Tenant" value="iotdevices.onmicrosoft.com" />
    <add key="ida:ClientId" value="2c007a3b-0a19-443e-b179-24affd33491c" />
    <add key="sasToken:resourceId" value="https://iotdevices.onmicrosoft.com/sastokenapi" />
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" />
    <!--<add key="sasToken:baseAddress" value="https://localhost:44300/api/v1/sastoken/" />-->
    <add key="sasToken:baseAddress" value="https://mtcsastokenapi.azurewebsites.net/api/v1/sastoken/" />
  </appSettings>

</configuration>